@import url(http://fonts.googleapis.com/css?family=Nosifer);
body{
  background-color: gray; 
}
h1{
  top: 110;
  text-align: center;
  text-shadow: 5px 5px #FF0000;
  font-family: Nosifer;
}
#pig{
  position: absolute;
  margin-left: 25%;
}
#Chicken{
  position: absolute;
  margin-left: 50%;
}
#Cow{
  position: absolute;
  margin-left: 75%;
}
p{
  position: absolute;
  top: 200px;
  font-family: Nosifer;
}

    
   
